{{ template "base" . }}

{{ define "content" }}
<div class="container">

  <div class="row">
    <div class="col">
      <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="Room image">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarters</h1>
      <p>
        Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt qui praesentium voluptatum voluptas tenetur delectus exercitationem ut reprehenderit ullam? Eligendi possimus voluptate quidem perspiciatis neque dicta beatae, ullam nostrum maxime delectus fuga esse doloribus adipisci sapiente architecto sint quibusdam blanditiis. Corporis numquam recusandae porro voluptatibus sed blanditiis nisi in necessitatibus optio dolorem soluta, veniam veritatis enim quae, doloremque quam. Numquam ut placeat laborum dolor veritatis sed sit, deleniti odio quisquam, amet at quibusdam harum debitis, in illum deserunt adipisci quam. Temporibus, sed, repudiandae eveniet rerum eum, voluptatibus impedit eos corrupti a doloribus beatae facilis id quos ea ex vel similique?
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">

      <a id="check-availability-button" href="#!" class="btn btn-success">Check availability</a>
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script>
  availabilityForm({
    room_id: "1", 
    csrf_token: "{{.CSRFToken}}",
  })
</script>
{{end}}
